body {
    background: white;
}

th[data-column-name] {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
}

.AppHeader {
    width: 100%;
    display: flex;
    align-items: center;
}

.AppHeader-primary {
    flex: 1;
}

.full-width {
    flex: 1 100%;
}

.relative {
    position: relative;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.aui-button {
    margin: 0 20px;
}
