{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
 <head>
   <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.11/css/aui.css" media="all">
   <script>
     window.DH = {
       clientBaseUrl: "{{ bb_base_url }}/"
     };
   </script>
 </head>
 <body>
     <div id="react-root"></div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.js"></script>
     <script src="{% static "app.js" %}"></script>
     <script src="{{ bb_base_url }}/atlassian-connect/all.js"></script>
 </body>
</html>
